# Arquivos temporários
.DS_Store
Thumbs.db

# Dependências Node.js
node_modules/
npm-debug.log
yarn-error.log

# Arquivos de build
/build
/dist

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Cache de dependências
.cache/

# Logs
log.txt

# Arquivos de configuração
*.log
*.config.js
